{/*引用插件*/}
{if condition=" $box_is_pjax != 1 "}
{load href="__STATIC__/global/jQuery/jquery.form.js" /}

{load href="__STATIC__/system/editable/bootstrap-editable.js" /}
{load href="__STATIC__/system/editable/bootstrap-editable.css" /}

{load href="__STATIC__/global/nprogress/nprogress.js" /}
{load href="__STATIC__/global/nprogress/nprogress.css" /}

{load href="__STATIC__/global/jQuery-gDialog/animate.min.css" /}
{load href="__STATIC__/global/Amaranjs/amaran.min.css" /}
{load href="__STATIC__/global/Amaranjs/jquery.amaran.min.js" /}
{load href="__STATIC__/global/bootstrap/js/bootstrap-dialog.min.css" /}
{load href="__STATIC__/global/bootstrap/js/bootstrap-dialog.min.js" /}

{load href="__STATIC__/system/datetimepicker/moment-with-locales.min.js" /}
{load href="__STATIC__/system/datetimepicker/bootstrap-datetimepicker.min.css" /}
{load href="__STATIC__/system/datetimepicker/bootstrap-datetimepicker.min.js" /}

{load href="__STATIC__/system/multiselect/multiselect.min.js" /}

{load href="__STATIC__/system/iCheck/icheck.min.js" /}

{load href="__STATIC__/system/select2/select2.min.js" /}
{load href="__STATIC__/system/select2/i18n/zh-CN.js" /}

{load href="__STATIC__/system/bootstrap-switch/bootstrap-switch.min.css" /}
{load href="__STATIC__/system/bootstrap-switch/bootstrap-switch.min.js" /}

{load href="__STATIC__/global/cropper/cropper.min.css" /}
{load href="__STATIC__/global/cropper/cropper.min.js" /}
{load href="__STATIC__/global/cropper/cropper.main.css" /}
{load href="__STATIC__/global/cropper/cropper.main.js" /}

{load href="__STATIC__/system/chart/Chart.min.js" /}

{load href="__STATIC__/system/dist/js/common.js" /}
{/if}