{/*头部引用*/}
{if condition=" $box_is_pjax != 1 "}
{load href="__STATIC__/global/bootstrap/css/bootstrap.min.css" /}
{load href="__STATIC__/global/bootstrap/css/font-awesome.min.css" /}
{load href="__STATIC__/system/iCheck/minimal/blue.css" /}
{load href="__STATIC__/system/select2/select2.min.css" /}
{load href="__STATIC__/system/dist/css/AdminLTE.min.css" /}
{load href="__STATIC__/system/dist/css/skins/skin-blue.min.css" /}

{load href="__STATIC__/global/jQuery/jquery-2.2.3.min.js" /}
{load href="__STATIC__/global/bootstrap/js/bootstrap.min.js" /}
{load href="__STATIC__/system/slimScroll/jquery.slimscroll.min.js" /}
{load href="__STATIC__/system/dist/js/app.min.js" /}
{load href="__STATIC__/global/jQuery/jquery.pjax.js" /}

{load href="__STATIC__/system/kindeditor/themes/default/default.css" /}
{load href="__STATIC__/system/kindeditor/kindeditor-all.js" /}
{load href="__STATIC__/system/kindeditor/lang/zh-CN.js" /}
<!--[if lt IE 9]>
{load href="__STATIC__/system/dist/js/html5shiv.min.js" /}
{load href="__STATIC__/system/dist/js/respond.min.js" /}
<![endif]-->
{/if}