<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Index</title>
</head>
<body>
<div style="margin:0 auto; padding-top:200px; width:1000px; text-align:center;">
    <a style="font-size:30px; color:red; font-weight:bold;" href="{:url('admin/index/index')}" >Amdin</a>
    <p>测试账号：admin</p>
    <p>测试密码：123456</p>
</div>
</body>
</html>