{extend name="public/base" /}

{block name="title"}<title>{if condition="$data"}{$Think.lang.edit}{else /}{$Think.lang.create}{/if}</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>节点信息</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> 节点信息</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="" onsubmit="return false" >
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">{$Think.lang.base_param}</a></li>
                        <li class="pull-right"><a href="javascript:history.back(-1)" class="btn btn-sm" style="padding:10px 2px;"><i class="fa fa-list"></i> {$Think.lang.back}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <input type="hidden" name="id" value="{$data.id}" />
                            <input type="hidden" name="module" value="{$module}" />
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$Think.lang.pid}</label>
                                <div class="col-sm-7">
                                    <select class="form-control select2" name="pid" style="width:100%;">
                                        <option value="0">{$Think.lang.top_pid}</option>
                                        {volist name="treeList" id="vo"}
                                        <option value="{$vo.id}" {if condition="$vo.level eq '3'"}disabled="disabled"{/if} {if condition="$data.pid eq $vo.id"}selected="selected"{/if} {if condition="$data.id eq $vo.id"}disabled="disabled"{/if} >
                                            {eq name="vo.level" value="3"}　　│　　├{/eq}
                                            {eq name="vo.level" value="2"}　　├{/eq}
                                            {$vo.title}
                                        </option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$Think.lang.title}</label>
                                <div class="col-sm-7"><input class="form-control" name="title" value="{$data.title}" placeholder="{$Think.lang.title}"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$Think.lang.name}</label>
                                <div class="col-sm-7"><input class="form-control" name="name" value="{$data.name}" placeholder="{$Think.lang.name}"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$Think.lang.level}</label>
                                <div class="col-sm-7">
                                    <select class="form-control select2" name="level" style="width:100%;">
                                        <option value="1" {if condition="$data.level eq '1'"}selected="selected"{/if} >{$Think.lang.auth_level_1}</option>
                                        <option value="2" {if condition="$data.level eq '2'"}selected="selected"{/if} >{$Think.lang.auth_level_2}</option>
                                        <option value="3" {if condition="$data.level eq '3'"}selected="selected"{/if} >{$Think.lang.auth_level_3}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$Think.lang.status}</label>
                                <div class="col-sm-7">
                                    <select class="form-control select2" name="status" style="width:100%;">
                                        <option value="1" {if condition="$data.status eq '1'"}selected="selected"{/if} >{$Think.lang.status1}</option>
                                        <option value="0" {if condition="$data.status eq '0'"}selected="selected"{/if} >{$Think.lang.status0}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$Think.lang.ismenu}</label>
                                <div class="col-sm-7">
                                    <select class="form-control select2" name="ismenu" style="width:100%;">
                                        <option value="0" {if condition="$data.ismenu eq '0'"}selected="selected"{/if} >{$Think.lang.ismenu0}</option>
                                        <option value="1" {if condition="$data.ismenu eq '1'"}selected="selected"{/if} >{$Think.lang.ismenu1}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$Think.lang.icon}</label>
                                <div class="col-sm-7"><input class="form-control" name="icon" value="{$data.icon}" placeholder="{$Think.lang.icon}"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$Think.lang.sorts}</label>
                                <div class="col-sm-7"><input class="form-control" name="sorts" value="{$data.sorts|default='50'}" placeholder="{$Think.lang.sorts}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-info pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; {$Think.lang.submit}">{$Think.lang.submit}</button>
                            </div>
                            <div class="btn-group pull-left">
                                <button type="reset" class="btn btn-warning">{$Think.lang.reset}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
$(function(){
    /*ajax页面加载icheck，有该控件的页面才需要*/
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass: 'iradio_minimal-blue'
    });
    
    /*ajax页面加载icheck，有该控件的页面才需要*/
    $(".select2").select2({language:"zh-CN"});
    
    {if condition=" $rest_login == 1 "}
    restlogin('{$rest_login_info}');   //登录超时
    {/if}
})
</script>
{/block}