<div class="tab-pane" id="tab_video">
    <div class="form-group">
        <label class="col-sm-2 control-label">{$Think.lang.video_url}</label>
        <div class="col-sm-7">
            <div class="input-group">
                <input class="form-control" name="video_url" value="{$data.addondata.video_url}" placeholder="{$Think.lang.video_url}" >
                <span class="input-group-btn"><button class="btn btn-success btn-flat up-btn" type="button" data-url="{:url('Uploads/upload')}"><i class="fa fa-cloud-upload"> {$Think.lang.Upload}</i></button></span>
            </div>
        </div>
    </div>
</div>